%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:events, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:events, :new)

.tabs-content
  -form_for :event, url(:events, :create), :class => 'form-horizontal' do |f|
    =partial 'events/form', :locals => { :f => f }
